/* ---------- Home Page ---------- */

.home-wrapper {
    background-color: #eff3f6;
}

/* Banner Section */

.banner {
    width: 100%;
    height: 100vh;
    background: url("/assets/images/home/banner/hero-bg.png");
    background-size: cover;
    background-position: bottom;
    display: flex;
    align-items: center;
}

.banner .banner-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.banner .banner-container .banner-titles {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.banner .banner-container .banner-titles h1 {
    font-size: 64px;
    color: rgba(var(--color-white), 1);
    margin: 0;
}

.banner .banner-container .banner-titles h3 {
    font-size: 32px;
    color: rgba(var(--color-white), 1);
    margin: 0;
}

.banner .banner-container form {
    background-color: rgba(var(--color-white), 1);
    border-radius: 15px;
    padding: 30px;
    display: flex;
    gap: 12px;
}

.banner .banner-container form .select-box {
    width: 100%;
    position: relative;
}

.banner .banner-container form .filter-btn {
    width: 100%;
}
.banner .banner-container form .filter-btn button {
    width: 100%;
    height: 100%;
    border: 1px solid rgba(var(--color-orange), 1);
    background-color: rgba(var(--color-orange), 1);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: rgba(var(--color-white), 1);
    font-weight: 500;
    border-radius: var(--border-radius-1);
    cursor: pointer;
    transition: 0.5s;
}

.banner .banner-container form .filter-btn button:hover {
    border: 1px solid rgba(var(--color-orange), 1);
    background-color: rgba(var(--color-white), 1);
    color: rgba(var(--color-orange), 1);
}

.banner .banner-container form .filter-btn button:hover svg  path{
    fill: rgba(var(--color-orange), 1);
}

/* End Banner Section */

/* Car Categories Section */

.categories {
    width: 100%;
}

.categories .category-container {
    top: -60px;
    position: relative;
}

.categories .category-container .category-box {
    width: 100%;
    height: 200px;
    border-radius: var(--border-radius-1);
    background-color: rgba(var(--color-orange), 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    cursor: pointer;
    transition: 0.5s;
}

.categories .category-container .category-box:hover {
    filter: brightness(85%);
}

.owl-categories .owl-item img {
    width: auto;
}

.categories .category-container .category-box span {
    color: rgba(var(--color-white), 1);
    font-weight: 500;
}

/* End Car Categories Section */

/* Hot News Section */

.news .news-container {
    padding-bottom: 50px;
}

.news .news-container .news-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.news .news-container .news-slider .owl-news-cards {
    position: relative;
}

.news .news-container .news-slider .new-card {
    padding: 15px;
    border: 1px solid rgba(52, 58, 64, 0.2);
    border-radius: var(--border-radius-2);
}

.news .news-container .news-slider .new-card .new-img-box {
    position: relative;
    overflow: hidden;
    border-radius: var(--border-radius-1);
}

.news .news-container .news-slider .new-card .new-img-box img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: var(--border-radius-1);
    transition: 0.5s;
}

.news .news-container .news-slider .new-card:hover .new-img-box img {
    transform: scale(1.1);
}

.news .news-container .news-slider .new-card .new-img-box .img-gradient {
    height: 100%;
    width: 100%;
    background: linear-gradient(180deg, rgba(217, 217, 217, 0) 0%, #000 100%);
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    border-radius: var(--border-radius-1);
    transition: 0.5s;
    opacity: 0;
    pointer-events: none;
}

.news .news-container .news-slider .new-card:hover .new-img-box .img-gradient,
.news .news-container .news-slider .new-card:hover .new-img-box .new-views {
    opacity: 1;
}

.news .news-container .news-slider .new-card .new-img-box .new-views {
    width: 100%;
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    z-index: 15;
    display: flex;
    justify-content: space-between;
    color: rgba(var(--color-white), 1);
    opacity: 0;
    transition: 1s;
}

.news .news-container .news-slider .new-card .new-img-box .new-views .views {
    padding-left: 10px;
}

.news .news-container .news-slider .new-card .new-img-box .new-views .fa-heart {
    padding-right: 10px;
    cursor: pointer;
}

.news .news-container .news-slider .new-card .new-detail {
    color: rgba(var(--color-black), 1);
}

.news .news-container .news-slider .new-card .new-detail h3 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 10px;
}

.news .news-container .news-slider .new-card .new-detail .car-details {
    display: flex;
    justify-content: space-between;
}

.news
    .news-container
    .news-slider
    .new-card
    .new-detail
    .car-details
    .car-detail {
    display: flex;
    align-items: center;
    gap: 5px;
}

.news
    .news-container
    .news-slider
    .new-card
    .new-detail
    .car-details
    .car-detail:nth-of-type(1)
    span,
.news
    .news-container
    .news-slider
    .new-card
    .new-detail
    .car-details
    .car-detail
    p {
    font-weight: 700;
}

.owl-prev,
.owl-next {
    position: absolute;
    padding: 10px;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: var(--border-round);
    margin: 5px;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
    background: #d9d9d9 !important;
    transition: 0.3s;
}

.owl-prev {
    left: -30px;
}

.owl-next {
    right: -30px;
}

.owl-prev:hover,
.owl-next:hover {
    background-color: rgba(var(--color-orange), 1) !important;
}

.owl-prev:hover i,
.owl-next:hover i {
    color: rgba(var(--color-white), 1);
}

.owl-prev i,
.owl-next i {
    font-size: var(--font-normal);
    transition: 0.5s;
}

.owl-news-cards .owl-nav.disabled {
    display: flex;
}

.category-container .owl-nav.disabled {
    display: none;
}
/* End Hot News Section */


/* Benefits Section */

.benefits {
    width: 100%;
    background-color: rgba(var(--color-white), 1);
    padding: 50px 0;
}

.benefits h1 {
    text-align: center;
    padding-bottom: 50px;
}

.benefits .benefits-box {
    display: flex;
    justify-content: space-between;
}

.benefits .benefits-content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.benefits .benefits-content .benefit-text h3 {
    font-size: var(--font-normal);
    font-weight: 700;
}

.benefits .benefits-content .benefit-text p {
    font-size: var(--font-small);
}

.benefits .benefits-box .benefit-img img {
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius-2);
}

/* End Benefits Section */

/* Achivements Section */

.achivements {
    background-color: #EFF3F6;
}

.achivements .achivements-container {
    display: flex;
    padding: 70px 0;
    justify-content: center;
    gap: 100px;
}

.achivements .achivements-container .achivement {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.achivements .achivements-container .achivement span {
    font-size: 64px;
    font-weight: 800;
}

.achivements .achivements-container .achivement p {
    font-size: var(--font-normal);
    font-weight: 700;
}

/* End Achivements Section */

/* Adds Section */

.adds {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/assets/images/home/adds-car.jpg");
    background-size: cover;
    background-position: center;
}

.adds .adds-container {
    display: flex;
    flex-direction: column;
    padding: 136px 0;
}

.adds .adds-container h1 {
    font-size: 48px;
    font-weight: 900;
    color: rgba(var(--color-white), 1);
}

.adds .adds-container p {
    font-size: 16px;
    font-weight: 700;
    color: rgba(var(--color-white), 1);
    width: 500px;
    line-height: 26px;
}

/* End Adds Section */

