.contacts-container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 80px;
}

.contacts-container .contacts-details {
    width: 100%;
}

.contacts-container .contacts-details h3,
.contacts-container .contact-form h3 {
    font-size: 36px;
    font-weight: 800;
    padding-bottom: 20px;
}

.contacts-details .details-box,
.contacts-container .contact-form form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contacts-details .details-box .contact-detail {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contacts-details .details-box .contact-detail span {
    font-weight: 600;
}

.contacts-details .details-box .contact-detail p,
.contacts-details .details-box .contact-detail a {
    margin: 0;
    color: rgba(var(--color-black), 1);
    transition: .3s;
}

.contacts-details .details-box .contact-detail a:hover {
    color: rgba(var(--color-orange), 1);
}

.contacts-details .details-box .contact-detail .contact-socials {
    display: flex;
    gap: 10px;
}

.contacts-details .details-box .contact-detail .contact-socials a {
    font-size: var(--font-normal);
}

.contacts-container .contact-form {
    width: 100%;
}

.contacts-container .contact-form form .form-input {
    display: flex;
    gap: 30px;
}

.contacts-container .contact-form form .form-input .input {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contacts-container .contact-form form .form-input .input label {
    font-weight: 600;
}

.contacts-container .contact-form form .form-input .input input,
.contacts-container .contact-form form .form-input .input textarea {
    width: 100%;
    padding: 10px 15px;
    border-radius: var(--border-radius-1);
    border: 1px solid rgba(var(--color-black), 0.2);
    font-size: 16px;
    font-family: Inter;
}

.contacts-container .contact-form form .form-input .input input:focus,
.contacts-container .contact-form form .form-input .input textarea:focus {
    border: 1px solid rgba(var(--color-orange), 1);
}

.contacts-container .contact-form form .contacts-btn button {
    padding: 15px 70px;
    border: 1px solid rgba(var(--color-orange), 1);
    background-color: rgba(var(--color-orange), 1);
    color: rgba(var(--color-white), 1);
    font-weight: 500;
    border-radius: var(--border-radius-1);
    cursor: pointer;
    transition: 0.5s;
    font-weight: 600;
}

.contacts-container .contact-form form .contacts-btn button:hover {
    border: 1px solid rgba(var(--color-orange), 1);
    background-color: rgba(var(--color-white), 1);
    color: rgba(var(--color-orange), 1);
}

.contacts .map {
    width: 100%;
}

.contacts .map iframe {
    width: 100%;
}