.breadcrumb {
    margin: 80px 0 40px 0;
}

.parallax-box {
    position: relative;
    height: 420px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.credit .parallax-image {
    background-image: url('/assets/images/credit/parallax.jpg');
}

.parallax-image {
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    filter: brightness(50%);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.parallax-image img {
    transform: translateY(-20%);
    position: fixed;
}

.parallax-box .container {
    z-index: 1;
}

.parallax-box .parallax-text {
    width: 50%;
    color: rgba(var(--color-white), 1);
}

.parallax-box .parallax-text p {
    position: relative;
    font-size: 16px;
    padding: 25px 0 0;
}

.parallax-box .parallax-text p::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 4px;
    background: rgba(var(--color-orange), 1);
}

.conditions-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.conditions-section > p:nth-child(1) {
    margin: 70px 0 0;
    font-size: 13px;
    font-weight: 400;
}

.conditions-section > p:nth-child(3) {
    margin-top: 20px;
    font-weight: 500;
}
.conditions-section > h1 {
    position: relative;
    margin: 0;
    padding: 10px 0 20px;
}

.conditions-section > h1::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 4px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(var(--color-orange), 1);
}

.conditions {
    display: flex;
    gap: 100px;
    margin: 40px 0;
}

.conditions .contidion {
    margin-bottom: 10px;
}

.conditions .column > * {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.conditions .column i {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    width: 50px;
    height: 50px;
    min-width: 50px;
    min-height: 50px;
    background: rgba(var(--color-orange), 1);
    border-radius: var(--border-radius-1);
    transition: all 200ms linear;
}

.conditions .contidion:hover i {
    font-size: 24px;
    transition: all 200ms linear;
}

.loan-calc {
    padding: 40px 0 70px;
    background: rgba(var(--background), 1);
}

.loan-calc .loan-container {
    background: rgba(var(--color-white), 1);
    border: 1px solid rgba(var(--color-black), 0.2);
    border-radius: var(--border-radius-2);
    width: 100%;
    padding: 29px 25px;
}

.loan-calc .loan-container > *,
.loan-calc .loan-container > * > * {
    display: flex;
    flex-direction: column;
}

.loan-calc .loan-container input {
    border: 1px solid rgba(var(--color-black), 0.2);
    border-radius: var(--border-radius-1);
    height: 45px;
    padding: 0 15px;
    margin: 7px 0 20px;
}

.loan-calc .loan-container input:focus{
    border: 1px solid rgba(var(--color-orange), 1);
}

.loan-calc .loan-container .loan-rate-period-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.loan-calc .loan-container .loan-rate-period-container > * {
    width: 100%;
}

.loan-calc .loan-title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 24px;
    text-transform: capitalize;
}

.loan-box {
    display: flex;
    gap: 30px;
}

.loan-box .loan-img {
    position: relative;
}


.loan-box .loan-img h2,
.loan-box .loan-img button {
    position: absolute;
    z-index: 10;
}

.loan-box .loan-img h2 {
    top: 0;
    margin: 60px 0 0 30px;
    color: rgba(var(--color-white), 1);
    font-size: 32px;
    font-weight: 700;
}

.loan-box .loan-img button {
    bottom: 0;
    left: 0;
    padding: 14px 40px;
    margin: 0 0 20px 30px;
    background: transparent;
    color: rgba(var(--color-white), 1);
    font-weight: 700;
    text-transform: capitalize;
}

.loan-box .loan-img button:hover {
    color: rgba(var(--color-black), 1);
    background: rgba(var(--color-orange), 1);
    cursor: pointer;
}

.loan-box .loan-img h2 span {
    color: rgba(var(--color-orange), 1);
}

.loan-box .loan-img img {
    position: relative;
    filter: brightness(50%);
    border-radius: var(--border-radius-2);
}

.loan-box button,
.allure-section .allure-container button {
    border: 1px solid rgba(var(--color-orange), 1);
    border-radius: var(--border-radius-1);
    justify-content: center;
    align-items: center;
    transition: all 200ms linear;
}

.loan-calc .loan-container > button,
.allure-section .allure-container button {
    padding: 15px 35px;
    background: rgba(var(--color-orange), 1);
    color: rgba(var(--color-white), 1);
    cursor: pointer;
}

.loan-calc .loan-container > button:hover,
.allure-section .allure-container button:hover {
    transition: all 200ms linear;
    background: rgba(var(--color-orange), 0.8);
}

.allure-section .allure-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0;
    gap: 50px;
}

.allure-section .allure-container::after {
    content: "";
    position: absolute;
    border: 1px solid rgba(var(--color-black), 0.2);
    border-radius: var(--border-radius-2);
    width: 100%;
    height: 280px;
    z-index: -1;
}

.allure-section .allure-container .allure-image {
    border-radius: var(--border-radius-1);
    position: relative;
    max-width: 460px;
    width: 100%;
    height: 400px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.allure-container .allure-image img {
    position: absolute;
    transform: translateX(-10%);
    transition: all 200ms linear;
}

.allure-container .allure-image:hover img {
    transform: scale(1.1)  translateX(-10%);
    transition: all 200ms linear;
}

.allure-section .allure-container .allure-text {
    width: 45%;
    font-size: 24px;
    font-weight: 900;
    text-transform: capitalize;
}

.allure-section .allure-container button {
    padding: 15px 60px;
    margin-top: 50px;
}
