/* ---------- Footer ---------- */
.footer {
    width: 100%;
}

.footer .logo-links {
    padding: 40px 0;
    background-color: #eff3f6;
}

.footer .logo-links .links-container {
    display: flex;
    justify-content: space-between;
}

.footer .footer-links {
    display: flex;
    gap: 40px;
}

.footer .footer-links ul li {
    margin-bottom: 15px;
}

.footer .footer-links ul li a {
    color: rgba(var(--color-black), 1);
    transition: 0.5s;
}

.footer .footer-links ul li a:hover {
    color: rgba(var(--color-orange), 1);
}

.footer .footer-links ul h4 {
    font-size: var(--font-normal);
    margin: 0;
    margin-bottom: 20px;
}

.footer .copy {
    padding: 10px 0;
    background-color: rgba(var(--color-black), 1);
}

.footer .copy .copy-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgba(var(--color-white), 1);
}

.footer .socials {
    display: flex;
    gap: 15px;
}

.footer .socials .social-img {
    width: 35px;
    height: 35px;
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-round);
    cursor: pointer;
    transition: 0.5s;
    line-height: 0;
}

.footer .socials .social-img:hover {
    background-color: rgba(var(--color-orange), 1);
}

.footer .socials .social-img i {
    font-size: 20px;
    color: rgba(var(--color-white), 1);
}
