@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;600;700;800;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    /* COLORS */
    --background: rgba(239, 243, 246, 1);
    --color-orange: rgba(240, 121, 0, 1);
    --color-white: rgba(255, 255, 255, 1);
    --color-black: rgba(40, 40, 40, 1);

    /* BORDER RADIUS */ 
    --border-radius-1: 10px; 
    --border-radius-2: 15px; 
    --border-round: 100%;

    /* FONT SIZE */
    --font-small: 14px;
    --font-normal: 20px;
}

.container {
    max-width: calc(1200px - 30px);
    padding: 0 30px;
    margin: 0 auto;
}

body {
    font-family: Inter;
    color: var(--color-black);
    font-size: var(--font-small);
}